<div class="home">

  <div class="left-menu">
    <div class="label">
      Информация об игре
    </div>
    <div class="info">
      Player 1 (17 очков) <
      <br>
      <br>
      Player 2 (12 очков)
      <br>
      <br>
      <br>
      <br>
      Ход игрока Player 1...
    </div>
  </div>

  <div class="body">

    <div class="field">
      <div *ngFor="let f of fieldArray">
        <div class="cell"
             [ngClass]="{'center': cell[0]=='c', 'white': cell[0]=='w', 'blue': cell[0]=='b', 'navy': cell[0]=='n', 'pink': cell[0]=='p', 'red': cell[0]=='r'}"
             *ngFor="let cell of f">{{cell[1]}}
        </div>
      </div>
    </div>

    <div class="available-letters">
      Ваши буквы:
      <div class="letters">
        <div *ngFor="let l of letters" class="cell">{{l}}</div>
      </div>
    </div>

  </div>

  <div class="legend">
    <div class="legend-row">
      <div class="cell center"></div>&nbsp;&nbsp; - клетка для начала игры
    </div>
    <div class="legend-row">
      <div class="cell white"></div>&nbsp;&nbsp; - очки без умножения
    </div>
    <div class="legend-row">
      <div class="cell blue"></div>&nbsp;&nbsp; - удвоение очков за букву
    </div>
    <div class="legend-row">
      <div class="cell navy"></div>&nbsp;&nbsp; - утроение очков за букву
    </div>
    <div class="legend-row">
      <div class="cell pink"></div>&nbsp;&nbsp; - удвоение очков за слово
    </div>
    <div class="legend-row">
      <div class="cell red"></div>&nbsp;&nbsp; - утроение очков за слово
    </div>
  </div>
</div>
