<div *ngIf="numberOfPlayers<2">
  Waiting for players
</div>
<div *ngIf="numberOfPlayers>1&&!isGameStarted">
  <button (click)="startGame()">
    Start game
  </button>
</div>
<div class="home" *ngIf="isGameStarted">

  <div class="left-menu">
    <div class="label">
      Game Info
    </div>
    <br>
    You are Player {{playerNumber}}
    <br>
    <div class="info">
      <div *ngFor="let n of playerNames">
        Player {{n}} ({{playersPoints[playerNames.indexOf(n)]}})
      </div>
      <br>
      <br>
      <br>
      <br>
      <div *ngIf="isYourTurn">
        Your turn
      </div>
      <div *ngIf="!isYourTurn">
        Turn of Player {{playerTurnNumber}}
      </div>
    </div>
  </div>

  <div class="body">

    <div class="field">
      <div *ngFor="let f of fieldArray">
        <div class="cell"
             [ngClass]="{'center': cell[0]=='c', 'white': cell[0]=='w', 'blue': cell[0]=='b', 'navy': cell[0]=='n', 'pink': cell[0]=='p', 'red': cell[0]=='r'}"
             (click)="clickField(fieldArray.indexOf(f), f.indexOf(cell))"
             *ngFor="let cell of f">
          {{cell[1]}}
        </div>
      </div>
    </div>

    <div class="available-letters">
      Ваши буквы:
      <div class="letters">
        <div
          *ngFor="let l of letters; let i = index"
          class="cell"
          [ngClass]="{'selected': selectedLetters.includes(i)}"
          (click)="clickLetter(i)">
          {{l}}
        </div>
      </div>
    </div>

  </div>

  <div class="legend">
    <div class="legend-row">
      <div class="cell center"></div>&nbsp;&nbsp; - клетка для начала игры
    </div>
    <div class="legend-row">
      <div class="cell white"></div>&nbsp;&nbsp; - очки без умножения
    </div>
    <div class="legend-row">
      <div class="cell blue"></div>&nbsp;&nbsp; - удвоение очков за букву
    </div>
    <div class="legend-row">
      <div class="cell navy"></div>&nbsp;&nbsp; - утроение очков за букву
    </div>
    <div class="legend-row">
      <div class="cell pink"></div>&nbsp;&nbsp; - удвоение очков за слово
    </div>
    <div class="legend-row">
      <div class="cell red"></div>&nbsp;&nbsp; - утроение очков за слово
    </div>
    <div class="buttons" *ngIf="isYourTurn">
      <button (click)="endTurn()">
        End Turn
      </button>
      <button (click)="changeLetters()">
        Change letters and skip turn
      </button>
    </div>
  </div>
</div>
